NET "clk"     LOC = "P126" | IOSTANDARD = LVCMOS33;
NET "n_reset" LOC = "P114" | IOSTANDARD = LVCMOS33;
NET "rxd1"    LOC = "P1"   | IOSTANDARD = LVCMOS33;
NET "txd1"    LOC = "P2"   | IOSTANDARD = LVCMOS33;
NET "rts1"    LOC = "P5"   | IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
